<!doctype html>
<html>
<head>
    <title>{{.Name}} - Altium Viewer</title>
    <script src="assets/embed.js"></script>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div class="altium-ecad-viewer" data-project-src="{{.Id}}" style="overflow: hidden;"></div>
</body>
</html>